<header id="header">
  <div id="header-img" class="logo" alt="Green Spirits Logo"></div>
  <!-- <h2>Еко-посуд з Карпат</h2> -->
  <h1>
    ЕКО - посуд з <span class="uppercase accent">Карпат</span> для затишку
    <br />
    у домі
  </h1>
  <nav id="nav-bar" class="nav-bar">
    <input id="nav-btn" class="nav-btn" type="checkbox" />
    <label class="nav-icon" for="nav-btn"
      ><span class="hamburger"></span
    ></label>
    <ul class="nav">
      <li><a class="nav-link" href="#products">Продукція</a></li>
      <li><a class="nav-link" href="#features">Майстри</a></li>
      <li><a class="nav-link" href="#testimonials">О нас</a></li>
      <li><a class="nav-link" href="#connect-contact">Контакти</a></li>
    </ul>
  </nav>
</header>
