<main>
  <section id="intro">
    <div class="figure-intro">
      <img
        class="circle-intro"
        src="https://raw.githubusercontent.com/MartaFagundez/FreeCodeCamp/master/LandingPage/img/cactus_intro_circle.png"
        alt=""
      />
      <img
        class="img-intro"
        src="https://raw.githubusercontent.com/MartaFagundez/FreeCodeCamp/master/LandingPage/img/cactus_intro2.png"
        alt="Dwarf chin cactus in a bronze planter"
      />
    </div>

    <h1>
      Посуд з Карпат<br />для Вашого <span class="uppercase accent">дому</span>
      <br />
    </h1>
  </section>
</main>
