<main>
  <section id="intro" class="section-header">
    <div class="figure-intro">
      <img
        class="circle-intro"
        src="https://raw.githubusercontent.com/MartaFagundez/FreeCodeCamp/master/LandingPage/img/cactus_intro_circle.png"
        alt=""
      />
      <img
        class="img-intro"
        src="https://raw.githubusercontent.com/silven5/ekoPosud/master/src/app/Image/pott.png"
        alt="Dwarf chin cactus in a bronze planter"
      />
    </div>

    <h1 class="h1">
      Посуд з Карпат<br />для Вашого <span class="uppercase accent">дому</span>
      <br />
    </h1>
  </section>
  <section>
    <h1><span class="uppercase accent">Купуй наш посуд</span></h1>

    <div
      *ngIf="productsWithInfo$ | async as products; else loading"
      class="flex"
    >
      <div *ngFor="let product of products" class="product-card">
        <img
          *ngIf="product.photoUrl"
          [src]="product.photoUrl"
          alt="{{ product.name }}"
          class="product-image"
        />
        <div class="card-description">
          <h3>
            <span class="uppercase accent">{{ product.name }}</span>
          </h3>
          <p>{{ product.description }}</p>
          <p>Матеріал: {{ product.material?.name }}</p>
          <p>Тип: {{ product.type?.name }}</p>
          <div class="product-price">
            {{ product.price | currency : "UAH" }}
          </div>
          <button (click)="addToCart(product)" class="buy-button">
            Купити
          </button>
        </div>
      </div>
    </div>

    <ng-template #loading>
      <p>Завантаження...</p>
    </ng-template>
  </section>
</main>
